/* Variables */
$font-size: 1.4rem !default;
$sidebar-font-size: 1.4rem !default;
$footer-font-size: 1.3rem !default;
$input-font-size: 1.4rem !default;
$button-font-size: 1.4rem !default;

$primary-color: #cc9966 !default;
$primary-color-dark: #006699 !default;

$secondary-color: #a6c76c !default;
$secondary-color-dark: #2f3946 !default;
$link-color: $primary-color !default;
$white-color: #fff !default;

$box-shadow-color: #515151 !default;

$border-radius: 0 !default;

$body-text: #666666 !default;
$light-text: #999999 !default;
$dark-text: #333333 !default;
$paragraph-text: #777 !default;
$headings-text: $dark-text !default;
$black-text: #000 !default;

$product-label-sale: #ef837b !default;
$product-label-new: #a6c76c !default;
$product-label-top: #7dd2ea !default;
$product-label-out: #ccc !default;

$product-price-new: $product-label-sale !default;
$product-price-old: $product-label-out !default;
$product-price-out: $product-label-out !default;

$product-rating-color: #fcb941 !default;

$border-color: #ebebeb !default;
$border-social-color: #e1e2e6 !default;
$border-btn-outline-darker-color: $border-social-color !default;

$bg-scroll-top: #fafafa !default;
$bg-scroll-top-hover: #eaeaea !default;
$bg-overlay: #f4f4f4 !default;
$bg-loading-overlay: $product-label-out !default;
$bg-intro-primary: #c29763 !default;
$bg-intro-secondary: #9ac5cb !default;

$font-family: 'Poppins', sans-serif !default;
$second-font-family: 'Quicksand', sans-serif !default;
$font-line-awesome: 'Line Awesome Free', sans-serif !default;

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xlst: 1920px,
);

$max-breakpoints: (
  xs: 479px,
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
  xxl: 1599px,
);
