.page-header {
  padding: 5.6rem 0 5.2rem;
  background-color: $border-color;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.page-title {
  color: $dark-text;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -0.025em;
  margin-bottom: 0;
}
