.table {
  > thead {
    border-bottom: 2px solid $border-color;
  }

  th {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.4rem 0.3rem;
    color: $light-text;
  }

  td,
  th,
  thead th {
    border-top: none;
    border-bottom: 0.1rem solid $border-color;
  }

  td {
    vertical-align: middle;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
